# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Files
.vs
*.user

# Emacs files
*~
\#*

# Debugging files
*.pdb

# Autobuilt files
a2c/lex.l.cs
a2c/parser.y.cs
tools/cstools-3.5/ptokens.cs
tools/rcc/lex.cs
tools/rcc/parser.cs
tools/cstools-3.5/cs0tokens.cs
HouseKeeping/*-NET
HouseKeeping/*-Mono
a2c/bin
a2c/obj
runtime/C/Debug
runtime/C/Release
UnitTests/compile-test/*.c
UnitTests/compile-test/*.h
UnitTests/compile-test/makefile
